*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 4px;
}

.container h2 {
    border-bottom: 5px solid black;
    margin-bottom: 8px;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    background-color: rgba(23, 9, 215, 0.518);
}

.menu li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid black;
    font-size: 15px;
}

.clear {
    clear: both;
}

.container-flex img {
    width: 300px;
    height: 300px;
    padding: 8px;
    ;
}

.container-flex {
    display: flex
}

.Produtos{
    margin-top: 4px;
    padding-bottom: 2px;
    max-width: 1024px;
    width: 100%;
    margin: 0 8px;
}

.Produtos h2{
    border-bottom: 5px solid black;
    margin-bottom: 8px;
}
.Produtos .lista-de-produtos li {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Produtos img {
    width: 200px;
    height: 200px;
}

.Produtos li {
    list-style: none;    max-width: 35%;
}

.Produtos li h3 {
    margin: 16px 0;
}

    .lista-de-produtos {
        max-width: 100%;
        padding: 8px;
    }

    .lista-de-produtos button {
        display: block;
        padding: 8px;
        cursor: pointer;
        background-color: cornflowerblue;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        border-radius: 6px;
        margin-top: auto;
        margin-left: 6px;
    }

    .margin {
        margin-left: 30px;
    }

    @media screen and (max-width: 641px) {

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        .container-flex {
            display: block
        }
        
        .container {
            max-width: 641px;
            width: 100%;
            margin: 0 2px;
        }

        .margin {
            margin: 10px;
        }


        .Produtos{
            margin-top: 8px;
        }


        .lista-de-produtos img {
            width: 200px;
            height: 200px;
        }

        .lista-de-produtos li {
            margin: 10px;
        }
        

        .lista-de-produtos button {
            margin-top: 8px;
        }
    }

    @media screen and (max-width:500){

        *{margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
        .Produtos{
            display: flex;
        flex-direction: column;
        align-items: center;
        }
        .container {
            max-width: 500px;
            width: 100%;
            margin: 0 2px;
        }
        .lista-de-produtos img {
            width: 200px;
            height: 200px;
        }

        container-flex.lista-de-produtos{
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }